<% include ./base/header %> 
        <h1>
            Participantes Grupo <%= `${idGrupo} - ${corSelecionada}` %>
        </h1>
        <div >
            <ul id="lista">
            </ul>
        </div>
    <script>
        let _d = document;
        let _integrantes = "<%= integrantes %>".split(',');

        _integrantes.forEach(item => {
			if(item != "")
			{			
				let _li = _d.createElement("li");
				let _dados = item.split(";");
				
				_li.className ="list-group-item";
				_li.innerText = `${_dados[0]} - ${_dados[1] == "SIM" ? "É CRENTE" : "NÃO É CRENTE" }`;

				_d.querySelector("#lista").appendChild(_li);
			}
		
        });

        $("#imprimir").click(function(){
            window.print();
        })


    </script>
<% include ./base/footer %> 
